  /* Styles whole page margin 0px */
*{
  padding:0px;
  margin:0px;
}

/* ============== */
/* Nav bar Styles */
/* ============== */

/* Styles nav buttons */
button{
background-color:#00205C ;
border:none;
margin-right:20px;

}

/* Puts nav bar on top of everything else */
nav {
  position: relative;
  z-index: 10; 
}

/* Styles main div of the nav bar*/
.nav_bar{
  background-color: hsl(219, 100%, 18%);
  border-bottom:5px solid #FFD403;
  width:100%;
  height: 70px;
  display:flex;
  
}

/* Styles left side of the navbar */
.nav_logo_div{
  width:55%;
  display:flex;
  align-items: center;
  justify-content: start;
  
}

/* Styles right side of navbar */
.nav_link_div{
  width:45%;

  display: flex;
  align-items:center;
  justify-content: end;
}


/* Styles text in nav bar */
.nav_bar_text{
  font-family: "Myriad Pro",sans-serif;
  font-weight: 700;
  font-size:30px;
  color:white;
  text-decoration:none;
  cursor: pointer;
  padding: 15px;
}

/* Styles additional attributes dropdown text */
.drop_down_text{
  padding-right: 210px;
  display: block;
}

/* when dropdown text is hovered over it changes color */
.drop_down_text:hover{
  background-color: #1a366d;
  border-radius: 10px;
}

/* Styles the image in the navabar surounding a tag*/
.logo_link_img_a{
  margin-left: 20px;
  cursor: pointer;

}

/* styles height of navbar image in navbar */
.logo_link_img{
  height: 65px;
  margin-top: 5px;
}

/* Sets the dropdowns position to relative*/
.dropdown{
  position: relative;
}

/* styles the dropdown menu however makes it invisable. sytles how it will apear */
.dropdown_menu{
  position:absolute;
  background-color: #00205C;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-210px);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  margin-top:5px;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

/* when dropdown gets the active class it will apear and slide in */
.dropdown.active .dropdown_menu{
  opacity: 1;
  transform: translateY(0px);
  pointer-events:auto;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 1);
  
}




/* ========================== */
/* Title and Title background */
/* ========================== */

.title{
  height: 100vh;
  width:100%;
  background: 
    
    url("Images/IMG_1069.JPG");
  background-size:cover;
  background-position: center;
  display:flex;
  justify-content: start;
  align-items: center;
}



h1 {
  /* makes the h1 work with z-index */
  position: relative;
  font-size: 4.5em;
  margin-left:50px;
  color:white;
  font-family: "Myriad Pro",sans-serif;
  
}

.behind_text{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 500px;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: start;
  align-items: center;
  /* border-radius: 20px; */
  /* margin:20px; */
}

.text_width_restrainer{
  width:850px;
}


/* =========================== */
/* Introduction to the website */
/* =========================== */


.introduction{
  display:flex;
  width:100%;
  background-color: #D3D3D3;
  height: 600px;
}

.welcome_div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width:30%;

}

.explaination_div{
  width:70%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}


p{
  margin:20px;
  font-size: 1.8em;
  color:#00205C;
  font-family: "Myriad Pro",sans-serif;
}

h2{
  position: relative;
  font-size: 4em;
  margin-left:20px;
  color:white;
  font-family: "Myriad Pro",sans-serif;
  color:#00205C;
}






.white_filler{
  width:100%;
  height: 500px;
}



@media all and (max-width:1024px){

  .introduction{
    flex-wrap:wrap;

  }

  .explaination_div{
    width:100%;
    background-color: blue;
  }

  .welcome_div{
    width:100%;
    justify-content: start;
    background-color: red;
  }
}

/* when the screen become less them 670px some styles will change */
@media all and (max-width:850px){


  /* changes the width of both sides of the navbar to 100% and make then go ontop of each other instead on beside each other also make them both go to the left instead of one to the left and one to the right */
  .nav_logo_div{
    width:100%;
    justify-content: start;
  }

  .nav_link_div{
    width:100%;
    justify-content: start;
    margin-left: 5px;
  }

  /*  make the navbar wrap the 2 side of the navbar and doubles it height to fit them*/
  .nav_bar{
    flex-wrap:wrap;
    height: 141px;
  }
}


@media all and (max-width:850px){


  /* changes the width of both sides of the navbar to 100% and make then go ontop of each other instead on beside each other also make them both go to the left instead of one to the left and one to the right */
  .nav_logo_div{
    width:100%;
    justify-content: start;
  }

  .nav_link_div{
    width:100%;
    justify-content: start;
    margin-left: 5px;
  }

  /*  make the navbar wrap the 2 side of the navbar and doubles it height to fit them*/
  .nav_bar{
    flex-wrap: wrap;
    height: 141px;
  }
}