  /* Styles whole page margin 0px */
*{
  padding:0px;
  margin:0px;
}

/* ============== */
/* Nav bar Styles */
/* ============== */

/* Styles nav buttons */
button{
background-color:#00205C ;
border:none;
margin-right:20px;

}

/* Puts nav bar on top of everything else */
nav {
  position: relative;
  z-index: 10; 
}

/* Styles main div of the nav bar*/
.nav_bar{
  background-color: hsl(219, 100%, 18%);
  border-bottom:5px solid #FFD403;
  width:100%;
  /* height: 70px; */
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

/* Styles left side of the navbar */
.nav_logo_div{
  /* width:55%; */
  display:flex;
  align-items: center;
  justify-content: start;
  
}

/* Styles right side of navbar */
.nav_link_div{
  /* width:45%; */

  display: flex;
  align-items:center;
  justify-content: end;
}


/* Styles text in nav bar */
.nav_bar_text{
  font-family: "Myriad Pro",sans-serif;
  font-weight: 700;
  font-size:30px;
  color:white;
  text-decoration:none;
  cursor: pointer;
  padding: 15px;
}

/* Styles additional attributes dropdown text */
.drop_down_text{
  padding-right: 210px;
  display: block;
}

/* when dropdown text is hovered over it changes color */
.drop_down_text:hover{
  background-color: #1a366d;
  border-radius: 10px;
}

/* Styles the image in the navabar surounding a tag*/
.logo_link_img_a{
  margin-left: 20px;
  cursor: pointer;

}

/* styles height of navbar image in navbar */
.logo_link_img{
  height: 65px;
  margin-top: 5px;
}

/* Sets the dropdowns position to relative*/
.dropdown{
  position: relative;
}

/* styles the dropdown menu however makes it invisable. sytles how it will apear */
.dropdown_menu{
  position:absolute;
  background-color: #00205C;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-210px);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  margin-top:5px;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

/* when dropdown gets the active class it will apear and slide in */
.dropdown.active .dropdown_menu{
  opacity: 1;
  transform: translateY(0px);
  pointer-events:auto;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 1);
  
}




/* ========================== */
/* Title and Title background */
/* ========================== */



.new_title_background{
  background: 
      url("Images/whole_dgt_class.webp");

  background-size:cover;
  background-repeat: no-repeat;
  background-position: center 0px;
}

.title{
  height: 100vh;
  width:100%;
  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  display:flex;
  justify-content: start;
  align-items: center;
}



h1 {
  /* makes the h1 work with z-index */
  position: relative;
  font-size: 4.5em;
  margin-left:50px;
  color:white;
  font-family: "Myriad Pro",sans-serif;
  
}

.behind_text{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;  
  height: 100%;
  display:flex;
  justify-content: start;
  align-items: center;
}

.text_width_restrainer{
  width:850px;
}


/* =========================== */
/* Introduction to the website */
/* =========================== */


.introduction{
  display:flex;
  width:100%;
  background-color: #D3D3D3;
  height: 600px;
}

.welcome_div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width:30%;

}

.explaination_div{
  width:70%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_page_body_text{
  margin:20px;
  font-size: 1.8em;
  color:#00205C;
  font-family: "Myriad Pro",sans-serif;
}

h2{
  position: relative;
  font-size: 4em;
  margin-left:20px;
  color:white;
  font-family: "Myriad Pro",sans-serif;
  color:#00205C;
}



/* =============== */
/* Main page links */
/* =============== */


.body_link_div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  
}



.body_link_img_div{ 
  height: 500px;
  width: 450px;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.body_link_img_div:hover{
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15)
}


.body_link_color_div{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width:100%;
    height:100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}


#year_11_body_link{
  background: 
    url("Images/students_helping_each_other.webp");
  background-size:cover;
  background-position: center;

}

#year_12_body_link{
  background: 
    url("Images/teach_helping_student.webp");
  background-size:cover;
  background-position: center;

}



#year_13_body_link{
  background: 
    url("Images/student_in_blazer_working.webp");
  background-size:cover;
  background-position: center;
}

.body_link{
  border-radius: 30px;
  text-decoration: none;
}

.body_link_text{
  color:white;
  font-family: "Myriad Pro",sans-serif;
  
}


h3.body_link_text{
  font-size: 50px;
}

h4.body_link_text{
  font-size: 30px;
}





.white_filler{
  width:100%;
  height: 500px;
}

.space_bewtween_items{
  height:100px;
  width:100%;
}

/* ====== */
/* Footer */
/* ====== */


.footer_div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color:#00205C;
}

.footer_info_div{
  margin-left: 50px;
  padding-top:50px;
  padding-bottom:50px;
  
}


.footer_link_div{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right:50px;
  margin-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

h5.footer_text{
  color:#FFD403;
  font-size:20px;
  margin:5px;
   font-family:"Avenir Next", sans-serif ;
}

p.footer_text{
  color:white;
  font-size:16px;
  font-family:"Avenir Next", sans-serif ;
  margin:5px;
}


.footer_link_content{
  height:50px;
  width:50px;
  border-radius: 25px;
  background-color: white;
  margin:5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_link_content:hover{
  background-color: #FFD403;
}

.footer_link_img{
  height:25px;
}

.footer_link_img_large{
  height:38px;
}

.footer_link_img_small{
  height:20px;
}
 
@media all and (max-width:1024px){

  .introduction{
    flex-wrap:wrap;
    height: 450px;

  }

  .explaination_div{
    width:100%;
    justify-content: start;
    align-items: start;
  }

  .welcome_div{
    width:100%;
    justify-content: start;
  }
}
